<!DOCTYPE html>
<html ng-app="angularDevise" ng-init='currentUser = <%= current_user.to_json.html_safe %>;'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Angular + Sorcery example" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Angular Devise" %>">
    <link rel="shortcut icon" href="<%= asset_path("brand/favicon.ico") %>" type="image/x-icon" />
    <%= stylesheet_link_tag "libs", :media => "all" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <div class="navbar" bs-navbar>
                <div class="navbar-inner" ng-controller="CommonController">
                  <a class="brand" href="/"><%= image_tag("brand/brand.png", :size => "32x32") %></a>
                  <ul class="nav">
                    <li data-match-route="/(:?home)"><a href="/home">Home</a></li>
                    <li data-match-route="/users_list"><a href="/users_list">Users</a></li>
                    <li data-match-route="/profile" ng-show="session.signedIn()"><a href="/profile">Profile</a></li>
                    <li data-match-route="/register" ng-show="session.signedOut()"><a href="/register">Sign up</a></li>
                    <li data-match-route="/login" ng-show="session.signedOut()"><a href="/login">Login</a></li>
                  </ul>

                  <ul class="nav pull-right">
                    <li ng-click="destroy()" ng-show="session.signedIn()"><a href="javascript:;">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <%= yield %>
          <footer></footer>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "libs" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>